APP_DEBUG = true

DATABASE.TYPE = mysql
DATABASE.HOSTNAME = 127.0.0.1
DATABASE.DATABASE = library
DATABASE.USERNAME = root
DATABASE.PASSWORD =
DATABASE.HOSTPORT = 3306
DATABASE.CHARSET = utf8mb4
DATABASE.PREFIX =
